<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

    <display-name>Red social</display-name>
    <description>
      Primera version de la pagina de red social
    </description>
	<welcome-file-list>
   	 	<welcome-file>index.html</welcome-file>
	</welcome-file-list>
    <servlet>
		<servlet-name>Registro</servlet-name>
		<servlet-class>web.servlets.Registro</servlet-class>
    </servlet>
    <servlet-mapping>
		<servlet-name>Registro</servlet-name>
		<url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>web.servlets.Login</servlet-class>
    </servlet>
    <servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>Novedades</servlet-name>
		<servlet-class>web.servlets.Novedades</servlet-class>
    </servlet>
    <servlet-mapping>
		<servlet-name>Novedades</servlet-name>
		<url-pattern>/Novedades</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>Seguidores</servlet-name>
		<servlet-class>web.servlets.Seguidores</servlet-class>
    </servlet>
    <servlet-mapping>
		<servlet-name>Seguidores</servlet-name>
		<url-pattern>/Seguidores</url-pattern>
    </servlet-mapping> 
     
    <servlet>
		<servlet-name>Ajustes</servlet-name>
		<servlet-class>web.servlets.Ajustes</servlet-class>
    </servlet>
    <servlet-mapping>
		<servlet-name>Ajustes</servlet-name>
		<url-pattern>/Ajustes</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>DejarDeSeguir</servlet-name>
		<servlet-class>web.servlets.DejarDeSeguir</servlet-class>
    </servlet>
    <servlet-mapping>
		<servlet-name>DejarDeSeguir</servlet-name>
		<url-pattern>/dejarSeguir</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>Buscar</servlet-name>
		<servlet-class>web.servlets.Buscar</servlet-class>
    </servlet>
    <servlet-mapping>
		<servlet-name>Buscar</servlet-name>
		<url-pattern>/Buscar</url-pattern>
    </servlet-mapping>

    <servlet>
		<servlet-name>Seguir</servlet-name>
		<servlet-class>web.servlets.Seguir</servlet-class>
    </servlet>
    <servlet-mapping>
		<servlet-name>Seguir</servlet-name>
		<url-pattern>/Seguir</url-pattern>
    </servlet-mapping>

    <servlet>
		<servlet-name>Opinar</servlet-name>
		<servlet-class>web.servlets.Opinar</servlet-class>
    </servlet>
    <servlet-mapping>
		<servlet-name>Opinar</servlet-name>
		<url-pattern>/Opinar</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>Videojuego</servlet-name>
		<servlet-class>web.servlets.Videojuego</servlet-class>
    </servlet>
    <servlet-mapping>
		<servlet-name>Videojuego</servlet-name>
		<url-pattern>/Videojuego</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>Usuario</servlet-name>
		<servlet-class>web.servlets.Usuario</servlet-class>
    </servlet>
    <servlet-mapping>
		<servlet-name>Usuario</servlet-name>
		<url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
</web-app>
