#estiloAjustes #cuerpo{
  background-color:rgb(248, 248, 248);
  color:rgb(119, 119, 119);
  font-size:110%;
  border: 1px solid rgb(231, 231, 231);
  padding-right: 0;
  padding-left: 0;
  box-shadow: 0 0 5px 5px #4d4d4d;
}
#estiloAjustes #ajustes {
  border-bottom: 1px solid rgba(155, 38, 175,0.6);
}
#estiloAjustes #listaSeguidores {
  margin-bottom: 0;
}
#estiloAjustes #seguidores {
  padding-right: 0;
  padding-left: 0;
}
#estiloAjustes h1{
  color:rgb(69, 69, 69);
  font-size:250%;
  text-align:center;
}
#estiloAjustes h2{
  font-size:200%;
  color:rgb(69, 69, 69);
  text-align:center;
}
