<div id="estiloAjustes">
  <div class="container" id="cuerpo">
    <!--pantalla de ajustes-->
    <div class="col-md-12">
      <h1 id="primerContenido" class="theme-color-text font">Personaliza tu
        cuenta</h1>
      <form class="w3-container" ng-submit="guardarCambios()" id="ajustes">
        <p><label>Nombre de usuario:</label>
          <input ng-click="hideError();hideExito()" class="w3-input" type="text"
                 ng-model="nombreUsuario" required></p>
        <p><label>Nombre y apellidos:</label>
          <input ng-click="hideError();hideExito()" class="w3-input" type="text"
                 ng-model="nombreApellidos"></p>
        <p><label>Contraseña actual:</label>
          <input ng-click="hideError();hideExito()" class="w3-input"
                 type="password"
                 ng-model="oldPassword" required></p>
        <p><label>Contraseña nueva:</label>
          <input ng-click="hideError();hideExito()" class="w3-input"
                 type="password"
                 ng-model="password"></p>
        <p><label>Repetir contraseña nueva:</label>
          <input ng-click="hideError();hideExito()" class="w3-input"
                 type="password"
                 ng-model="rePassword"></p>
        <p style="text-align: center">
          <button ng-click="limpiarCambios()"
                  class="w3-btn w3-round-large theme-accent2"
                  id="cancelButton">
            Cancelar
          </button>
          <button type="submit" class="w3-btn w3-round-large theme-accent">
            Guardar
          </button>
        </p>
        <!-- mensaje que se mostrará cuando la operación tenga éxito -->
        <div ng-if="exitoAjustes" class="alert alert-success">
          <strong>¡Éxito!</strong> Los cambios de su cuenta se han actualizado
          correctamente.
        </div>
        <!-- mensaje que se mostrará cuando la operación NO tenga éxito-->
        <div ng-if="errorAjustes" class="alert alert-danger">
          <strong>Woops!</strong> {{errorMsgAjustes}}
        </div>
        <br>
      </form>
    </div>

    <!--lista de seguidores-->
    <div class="col-md-12" id="seguidores">
      <h2 class="theme-color-text">Lista de seguidores</h2>
      <ul class="list-group" id="listaSeguidores">
        <li class="list-group-item" ng-repeat="seguidor in seguidores">
          <a ng-click="entrarUsuario(seguidor.idUsuario)"
             class="theme-color-text-action">{{seguidor.nombreUsuario}}</a>
          ({{seguidor.nombreApellidos}})
          <button ng-click="dejarSeguir(seguidor.id)" style="float:right"
                  class="w3-btn w3-round-large theme-accent-s w3-small">
            Dejar de seguir
          </button>
        </li>
      </ul>

    </div>

  </div>
</div>
