<div id="estiloVideojuegos">
  <div class="container" id="cuerpo">

    <!--Informacion del perfil-->
    <div class="col-md-12">
      <h1 id="primerContenido" class="font">{{videojuego.nombre}}</h1>
      <div class="col-md-4 w3-card-4" style="padding:1%;text-align:center">
        <img ng-src="{{videojuego.imagen}}"
             style="max-width:100%">
        <p>Valoracion media:</p>
        <span ng-class="videojuego.valoracion"></span>
      </div>
      <div class="col-md-8" style="padding:3%;">
        <p id="descripcion">{{videojuego.descripcion}}</p>
        <p><b>Fecha de lanzamiento: </b>{{videojuego.lanzamiento}}</p>
        <p><b>Desarrolladora: </b>{{videojuego.desarrolladora}}</p>
        <p><b>Distribuidora: </b>{{videojuego.distribuidora}}</p>
        <p><b>Género: </b>{{videojuego.genero}}</p>
        <p><b>Plataforma: </b>{{videojuego.plataforma}}</p>
      </div>
    </div>

    <!-- botones de valorar, comentar y filtros -->
    <div class="col-md-12" id="listaComentarios">
      <div class="row">
        <button class="col-md-2 w3-btn w3-round-large theme-accent-s w3-small"
                data-toggle="modal" data-target="#comentarioModal"
                style="margin:1%">Comentar
        </button>
        <button class="col-md-2 w3-btn w3-round-large theme-accent-s w3-small"
                data-toggle="modal" data-target="#valorarModal"
                style="margin:1%">Valorar
        </button>
        <h2 class="col-md-4 theme-color-text" style="text-align:center">
          Opiniones</h2>
        <div class="form-inline col-md-3"
             style="margin-bottom: 1%;margin-top: 1%;">
          <label for="mostrar">Mostrar: </label>
          <select id="mostrar" class="form-control" ng-model="opinion"
                  ng-options="x for x in mostrar">
          </select>
        </div>
      </div>

      <!-- mensaje que se mostrará cuando la operación tenga éxito -->
      <div ng-if="exito" class="alert alert-success">
        <strong>¡Éxito!</strong> Se ha añadido su opinión correctamente.
      </div>
      <!-- mensaje que se mostrará cuando la operación NO tenga éxito-->
      <div ng-if="error" class="alert alert-danger">
        <strong>Woops!</strong> {{errorMsg}}
      </div>

      <!-- lista de comentarios -->
      <div ng-if="opinion == 'Comentarios'">
        <ul class="list-group" style="margin-top: 5%">
          <li class="list-group-item"
              ng-repeat="comentario in listaComentarios">
            <h3><a class="theme-color-text-action"
                   ng-click="entrarUsuario(comentario.idUsuario)">
              {{comentario.nombreUsuario}}</a>
              <span class="fecha"> ({{comentario.nombreReal}}) {{comentario.fecha}}</span>
            </h3>
            <p>{{comentario.contenido}}</p>
          </li>
        </ul>
      </div>

      <!-- lista de valoraciones -->
      <div ng-if="opinion == 'Valoraciones'">
        <ul class="list-group" style="margin-top: 5%">
          <li class="list-group-item"
              ng-repeat="valoracion in listaValoraciones">
            <a ng-click="entrarUsuario(valoracion.idUsuario)"
               class="theme-color-text-action">
              {{valoracion.nombreUsuario}}</a>
            ({{valoracion.nombreReal}}) le ha dado una puntiación el
            {{valoracion.fecha}}
            de <span ng-class="valoracion.valoracion"></span></li>
        </ul>
      </div>
    </div>

    <!-- comentario modal popup -->
    <div id="comentarioModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form role="form" ng-submit="guardarComentario()">
              <!-- comentario textarea -->
              <div class="form-group">
                <label for="comentarioTextArea"><strong>Deje su
                  comentario: </strong></label>
                <textarea id="comentarioTextArea" rows="5" ng-model="comentario"
                          class="form-control" required></textarea>
              </div>
              <button class="w3-btn w3-round-large theme-accent2"
                      ng-click="cerrarModal()">
                Cancelar
              </button>
              <button type="submit" class="w3-btn w3-round-large theme-accent">
                Guardar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- valoracion modal popup -->
    <div id="valorarModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form role="form" ng-submit="guardarComentario()">
              <!-- comentario textarea -->
              <div class="form-group">
                <p><strong>Deje su valoración: </strong>
                  <span class="estrellaOff" ng-click="valorar(1)"></span>
                  <span class="estrellaOff" ng-click="valorar(2)"></span>
                  <span class="estrellaOff" ng-click="valorar(3)"></span>
                  <span class="estrellaOff" ng-click="valorar(4)"></span>
                  <span class="estrellaOff" ng-click="valorar(5)"></span></p>

              </div>
              <button class="w3-btn w3-round-large theme-accent2"
                      data-dismiss="modal">
                Cancelar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
